dependency.c                      -diff -whitespace
interpolated.c                    -diff -whitespace
version.c                         -diff -whitespace
distro/arch.c                     -diff -whitespace
distro/git.c                      -diff -whitespace
