dependency.c                      -diff -whitespace
interpolated.c                    -diff -whitespace
version.c                         -diff -whitespace
distro/arch.c                     -diff -whitespace
distro/debian.c                   -diff -whitespace
distro/git.c                      -diff -whitespace
distro/homebrew.c                 -diff -whitespace
distro/rpm.c                      -diff -whitespace
